# Ignore directories
.cache/
.config/
.dotnet/
.local/
.pki/
.ssh/
.vscode/
snap/

# Ignore specific files
.bash_history
.bash_logout
.bashrc
.gitconfig
.lesshst
.profile
.sudo_as_admin_successful
# Ignore index.html.save and info.php
index.html.save
info.php
/home/samuel/.ssh/id_ed25519
.ssh/id_ed25519
# Ignore SSH private keys
.ssh/id_ed25519
.ssh/id_rsa

# Ignore other sensitive files
config/database.yml
.env

